body{
    margin: 0;
    padding: 0;
}
.carousel{
    overflow: scroll;
    padding: 30px;
    position: relative;
    width: 100%;
}
.carousel__container{
    margin : 70px 0px;
    padding-bottom: 10px;
    white-space: nowrap;
}
.carousel__container:hover .carousel__item{
    opacity: 0.4;
}
.carousel__container:hover .carousel__item:hover{
    transform: scale(1.5);
    opacity: 1;
}
.carousel__item{
    background-color: palevioletred;
    border-radius: 20px;
    cursor: pointer;
    display: inline-block;
    height: 250px;
    margin-right: 10px;
    overflow: hidden;
    transform-origin: center left;
    transition: 450ms all;
    width: 200px;
}
.carousel__item:hover ~ .carousel__item{
    transform: translate3d(100px, 0, 0);
}